

<div class="messageBox">
    <% if (user && user.member) {%>

    <div class="msgBoxHeader">
        <p> <%= message.users %></p>
        <p> <%= message.date.getDate().toString().padStart(2,'0') %>/
            <%= (message.date.getMonth() + 1).toString().padStart(2,'0') %>/
            <%= message.date.getFullYear() %> 
            <%= message.date.getHours().toString().padStart(2,'0') %>:
            <%= message.date.getMinutes().toString().padStart(2,'0') %> 
        </p>  
    </div>

    <div class="seperator"></div>
    <p> <%= message.message %></p>
    <% } else { %>

    <div class="msgBoxHeader">
        <p>Anonymous</p>
        <p> <%= message.date.getDate().toString().padStart(2,'0') %>/
        <%= (message.date.getMonth() + 1).toString().padStart(2,'0') %>/
        <%= message.date.getFullYear() %> 
        <%= message.date.getHours().toString().padStart(2,'0') %>:
        <%= message.date.getMinutes().toString().padStart(2,'0') %> 
        </p>  
        
    </div>
    <div class="seperator"></div>
    <p> <%= message.message %></p>
    <% } %>

</div>